%div.container
	%h1
		%div{id: "sf_text", style: "display: none"}
			= @sf_text
		%div{id: "nyc_text"}
			= @nyc_text
	%div.button_container
		%button{class: "button blue", :onclick => "toggle_between('nyc_text', 'sf_text')"}
			= "Client-Side Toggle"
	%div.button_container
		%button.button.green
			= "AJAX Toggle"
	%div.button_container
		%button.button.yellow
			= "Server-Side Toggle"
