%div.page_container
	%div.weather_container
		%h1
			%div{class: "hide", id: "sf_text"}
				= @sf_text
			%div{id: "nyc_text"}
				= @nyc_text
		%div.button_container
			%button{class: "button blue", :onclick => "toggleBetween('nyc_text', 'sf_text')"}
				= "Client-Side Toggle"
	%div.weather_container
		%h1
			%div{class: "nyc", id: "ajax_text"}
				= @nyc_text
		%div.button_container
			%button{class: "button green", :onclick => "toggleAjax('ajax_text')"}
				= "AJAX Toggle"
	%div.weather_container
		%h1
			= @nyc_text
		%div.button_container
			= button_to "Server-Side Toggle", {:controller => "welcome", :action => "sf"}, {:class => "button yellow"}
